@import '../../styles/colors.module.scss';
@import '../../styles/btnicon.module.scss';
@import '../../styles/utils.module.scss';

.container {
    background-color: $card-bg;
    padding: 16px 24px;
    border-radius: 2px;
    border: 1px solid $card-border;
    box-shadow: $box-shadow;

    display: flex;
    align-items: center;
    column-gap: 14px;
    justify-content: space-between;

    max-width: 390px;

    .info {
        display: flex;
        flex-direction: column;
        row-gap: 7px;

        h2 {
            font-weight: 500;
        }

        input {
            border: none;
            background: none;

            &::placeholder {
                color: $disabled;
            }
        }
    }

    .orders {
        display: flex;
        align-items: center;
        column-gap: 32px;

        span, b {
            color: $enabled;
        }

        .lessBtn {
            height: 18px;
            width: 18px;
            border-radius: 9px;
            border: 1px solid $enabled;
            box-shadow: $box-shadow;

            display: flex;
            align-items: center;
            justify-content: center;

            color: $enabled;
        }
    }

    .actions {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 18px;
    }
}